# ValidationRecord

## Example Usage

```typescript
import { ValidationRecord } from "supabase/models/components";

let value: ValidationRecord = {
  txtName: "<value>",
  txtValue: "<value>",
};
```

## Fields

| Field              | Type               | Required           | Description        |
| ------------------ | ------------------ | ------------------ | ------------------ |
| `txtName`          | *string*           | :heavy_check_mark: | N/A                |
| `txtValue`         | *string*           | :heavy_check_mark: | N/A                |